body {
    background-color: white;
    height: 100%;
    font-family: 'Rubik';
}

.stack {
    display: grid;
    text-align: center;
    background-color: white;
    color: black;
    margin: 10px;
}

.cardsDiv {
    display: grid;
    grid-column-gap: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    perspective: 2000px;
}

.card {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin: auto;
    height: 100px;
    overflow: auto;
    width: 100%;
    padding: 2px;
    display: grid;
    background-color: #eeeeee;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.clicked {
    transform: rotateX(180deg);
    background-color: #7fe0f8;
}

.back-card {
    transform: rotateX(180deg);
}

.card:hover {
    background-color: #7fe0f8;
}

.button {
    background-color: #9cebff;
    height: 50px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    background-image:
      linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px),
      repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));
    box-shadow: 1px 1px 3px rgba(0,0,0,.25);
    height: 14rem;
    width: 400px;
  
    margin: auto;
    position: relative;
    top: 11%;
    transform: translateY(-50%);
  }
  
  #intro {
      margin-top: -13px;
      font-size: 20px;
  }

  #new-stack-form {
      text-align: center;
      margin: auto;
      margin-bottom: 15px;
  }

  #stacks {
      width: 98%;
      margin: auto;
  }

  footer {
      text-align: center;
      font-size: larger;
  }