.title {
    text-align: center;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.stack {
    text-align: center;
    margin: 5px;
    background-color: #222222;
    color: white;
    flex: 1 100%;
    cursor: pointer;
}

.card {
    margin: auto;
    flex: 1;
    width: 50%;
    padding: 2px;
    display: flex;
    background-color: white;
    color: #222222;
}
