.title {
    text-align: center;
}

.stack {
    display: grid;
    text-align: center;
    background-color: #222222;
    color: white;
    margin: 10px;
}

.cardsDiv {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr;*/
    grid-gap: 10px;
}
.card {
    margin: auto;
    height: 100%;
    width: 90%;
    padding: 2px;
    display: grid;
    background-color: white;
    color: #222222;
}

.card:hover {
    background-color: #86e2e6;
}

.card:onclick {
    background-color: deeppink;
}

.button {
    background-color: aquamarine;
    height: 50px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}